{% extends 'base.html.twig' %}

{% block title %}Catégory {{ category.name }}{% endblock %}

{% block body %}
    <section class="hero is-link">
        <div class="hero-body">
            {{ include('category/_delete_form.html.twig') }}
            <p class="title">
                Edition {{ category.name }}
            </p>
            <a class="button is-primary" href="{{ path('category_index') }}">
                    <span class="icon">
                        <i class="fas fa-long-arrow-alt-left"></i>
                    </span>
                <span>Retour aux catégories</span>
            </a>
        </div>
    </section>
    <div class="container">
        <div class="section">
            {{ include('category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
