
{% if pageCount > 1 %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if previous is defined %}
            <a rel="prev" class="pagination-previous" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Previous</a>
        {% endif %}
        {% if next is defined %}
            <a rel="next" class="pagination-next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Next page</a>
        {% endif %}
        <ul class="pagination-list">
            {% if first is defined and current != first %}
                <li><a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}">1</a></li>
            {% endif %}
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% for page in pagesInRange %}
                {% if page != current %}
                    {% if page != first and page != last %}
                        <li><a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="pagination-link is-current" aria-current="page">{{ page }}</a></li>
                    {% if last is not defined and current != last %}
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if last is defined and current != last %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}">{{ last }}</a></li>
            </span>
            {% endif %}
        </ul>
    </nav>
{% endif %}
