{{ form_start(form) }}
    <div class="field">
        {{ form_row(form.email) }}
        <div class="has-text-danger">
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="field">
        {{ form_row(form.username) }}
        <div class="has-text-danger">
            {{ form_errors(form.username) }}
        </div>
    </div>
    <div class="field">
        {{ form_row(form.plainPassword) }}
    </div>
    <div style="text-align: center">
        {{ form_row(form.submit) }}
    </div>
{{ form_end(form) }}
