{% extends 'base.html.twig' %}

{% block title %}Administrateurs{% endblock %}

{% block body %}
    <section class="hero is-link">
        <div class="hero-body">
            <a class="button is-primary float-right" href="{{ path('admin_user_new') }}">
                <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span>Ajouter</span>
            </a>
            <p class="title">
                Administrateurs
            </p>
            <p class="subtitle">
                Total: {{ admin_users.getTotalItemCount  }}
            </p>
        </div>
    </section>

    <div class="wrap">
        <table class="head">
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom d'utilisateur</th>
                <th>Mot de passe </th>
                <th>Actions</th>
            </tr>
        </table>
        <div class="inner_table mt-3">
            <table>
                {% for admin_user in admin_users %}
                    <tr>
                        <td>
                            <a class="id-tag" href="{{ path('admin_user_show', {'id': admin_user.id}) }}">#{{ admin_user.id }}</a>
                        </td>
                        <td>{{ admin_user.email }}</td>
                        <td>{{ admin_user.roles ? admin_user.roles|json_encode : '' }}</td>
                        <td>{{ admin_user.username }}</td>
                        <td>{{ admin_user.password }}</td>
                        <td>
                            <a class="button is-grey-light is-rounded float-right" href="{{ path('admin_user_edit', {'id': admin_user.id}) }}">
                                    <span class="icon">
                                            <i class="fas fa-wrench"></i>
                                        </span>
                                <span>Modifier</span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="mt-6">
            {{ knp_pagination_render(admin_users) }}
        </div>
    </div>

{% endblock %}
